@import url('https://fonts.googleapis.com/css2?family=Groovy:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #2A0944;
  color: white;
}

.dialog-overlay {
  background: rgba(42, 9, 68, 0.8);
}

